.user-balance{
    font-size: 42px;
}

.user-balance-title{
    font-weight: 400;
}

.income{
    color: green;
}

.expense{
    color: red;
}

.dashboard-history{
    width: 100%;
    margin: 5px;
}
.dashboard-history-title{
    font-size: 24px;
}

.dashboard-header{
    margin-bottom: 50px;
}

@media screen and (max-width:450px){
    .user-balance{
        font-size: 32px;
    }

    
    .user-balance-title{
        font-size: 22px;
    }

    .page{
        padding: 50px 15px;
    }
}

@media screen and (max-width:300px){
    .user-balance{
        font-size: 22px;
    }

    
    .user-balance-title{
        font-size: 15px;
    }
}