.history-item{
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-right: solid 4px transparent;
}

.history-label{
    margin-right: 10px;
}

.history-expense{
    border-right: solid 4px red;

}

.history-deposit{
    border-right: solid 4px green;

}