.selection-btn{
    padding: 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    cursor: pointer;
}

.selection-btn p{
    font-size: 32px;
}

.selected{
    color: green;
}