*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page{
  float: right;
  width: 75%;
  height: 100vh;
  padding: 50px;
}
.shownav-btn{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 15px;
  font-size: 32px
}

@media screen and (max-width: 700px){
  .shownav-btn{
    display: block;
  }
}